{% extends '@App/base.html.twig' %}

{% block body %}
    <h1>{{ kpi2 }}</h1>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Cím</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
                <tr>
                    <td><a href="{{'https://confluence.virgo.hu' ~ document._links.tinyui }}" target="_blank">{{ document.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
{% endblock %}
